body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding:2rem 1rem;
}
.header-container{
    width: 1200px;
    max-width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
}
.header-right{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.menu-main{
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu-dropdown{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
}
.menu-dropdown li{
    display: block;
    width: 15px;
    height: 2px;
    background-color: white;
}
.menu-dropdown li:nth-child(2){
    margin-left: 3px;
}